body {
    background-color: #0c1a20;
    color: #ffffff;
    font-family: Helvetica;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}
div#main {
    background-color: #263238;
    border-radius: 1em;
    padding: 20px;
}
table {
    width: 100%;
}
tr {
    background-color: #7d98a3;
}
td:hover {
    background: #918b8b;
    cursor: pointer;
}
td {
    border-radius: 1em;
    padding: 50px;
}
